<div class="sidebox widget">
    <h3 class="widget-title section-title">Ara</h3>
    <form class="searchform" method="get">
        <label><i class="icon-search"></i></label>
        <input type="text" id="s2" name="s" value="Birşey arayın" onfocus="this.value=''" onblur="this.value='Birşey arayın'" />
        <button type="submit" class="btn">Bul</button>
    </form>
</div>
