
@using BlogApp.Data.Models

@model IEnumerable<Category>

<div class="sidebox widget">
    <h3 class="widget-title section-title">Kategoriler</h3>
    <ul class="circled">
        @foreach (Category cat in Model)
        {
            <li><a href="/Category/Index/@cat.CategoriId">@cat.Name (@cat.Articles.Count)</a></li>
        }
    </ul>
</div>


